################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.log.txt
*.log
*.nupkg
*.fpr
*.vsix

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
bin/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
packages/
.sonarqube/
.vscode/

# ProductTasks files that are copied during the build
ProductTasks/**/Common/
ProductTasks/**/Modules/
ProductTasks/**/ps_modules/
node_modules/
built/
dist/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/fr-fr/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/es-es/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/en-US/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/de-de/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/ServerOMFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/Modules/DesAzure.Ps.Azure.DevOps.RestApi.Helper.psm1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/Modules/DesAzure.Ps.Azure.DevOps.RestApi.Helper.psd1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/Common/Run-PsScript.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/lib.json
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/VstsTaskSdk.psm1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/VstsTaskSdk.psd1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/VstsTaskSdk.dll
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/TraceFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/it-IT/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/fr-fr/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/es-es/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/en-US/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/de-de/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/ServerOMFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/OutFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/Minimatch.dll
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/LongPathFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/LoggingCommandFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/LocalizationFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/LegacyFindFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/InputFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/ToolFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/zh-TW/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/zh-CN/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/ru-RU/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/ko-KR/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/ja-jp/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/Minimatch.dll
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/LongPathFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/LoggingCommandFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/LocalizationFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/LegacyFindFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/InputFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/FindFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/ToolFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/zh-TW/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/zh-CN/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/ru-RU/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/ko-KR/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/ja-jp/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/PSGetModuleInfo.xml
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/ps_modules/VstsTaskSdk/FindFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/Modules/DesAzure.Ps.Azure.DevOps.RestApi.Helper.psm1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/Modules/DesAzure.Ps.Azure.DevOps.RestApi.Helper.psd1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/TaskgroupDistribution/v1/Common/Run-PsScript.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/VstsTaskSdk.dll
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/TraceFunctions.ps1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/PSGetModuleInfo.xml
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/lib.json
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/VstsTaskSdk.psm1
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/Strings/resources.resjson/it-IT/resources.resjson
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/VstsTaskSdk.psd1
package-lock.json
Azure.Desa.AzureDevOps.BuildReleaseTask.Extension/ProductTasks/VariablegroupDistribution/v1/ps_modules/VstsTaskSdk/OutFunctions.ps1
