################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.log.txt
*.log
*.nupkg
*.fpr
*.vsix

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
bin/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/
packages/
.sonarqube/
.vscode/

# ProductTasks files that are copied during the build
ProductTasks/**/Common/
ProductTasks/**/Modules/
ProductTasks/**/ps_modules/
node_modules/
built/
dist/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
package-lock.json